@font-face {
  font-family: "Montserrat";
  src: url("fonts/specimen/Montserrat/Montserrat.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Gotham-Book";
  src: local("Gotham-Book"), url("fonts/Gotham/Gotham-Book.otf") format("opentype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Gotham-Italic";
  src: local("Gotham-Italic"), url("fonts/Gotham/Gotham-MediumItalic.otf") format("opentype");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: "Gotham-Bold";
  src: local("Gotham-Bold"), url("fonts/Gotham/Gotham-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: bold; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  /*background: #000059;
  background: -moz-radial-gradient(center, circle cover, #ffffff 0%, #ffffff 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #ffffff), color-stop(100%, #070790));
  background: -webkit-radial-gradient(center, circle cover, #6c6ce1 0%, #070790 100%);
  background: -o-radial-gradient(center, circle cover, #555a5f 0%, #1c1e20 100%);
  background: -ms-radial-gradient(center, circle cover, #555a5f 0%, #1c1e20 100%);
  background: radial-gradient(center, circle cover, #555a5f 0%, #1c1e20 100%);*/
  background-color: white; }

.reveal {
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 36px;
  font-weight: 200;
  letter-spacing: -0.02em;
  color: #424242; }

::selection {
  color: white;
  background: #f9b8bb;
  text-shadow: none; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #09456d;
  font-family: "Montserrat", Impact, sans-serif;
  line-height: 0.9em;
  //letter-spacing: 0.02em;
  //text-transform: uppercase;
  //text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2); 
  }

/*.reveal h1 {
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2); }*/

/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image) {
  color: #09456d;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:not(.image):hover {
  color: #09456d;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #09456d; }

/*********************************************
 * IMAGES
 *********************************************/
/*.reveal section img {
  margin: 15px;
  background: rgba(255, 255, 255, 0.12);
  border: 0px solid #eeeeee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }*/

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #09456d;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.left,
.reveal .controls div.left.enabled {
  border-right-color: #031826; }

.reveal .controls div.right,
.reveal .controls div.right.enabled {
  border-left-color: #031826; }

.reveal .controls div.up,
.reveal .controls div.up.enabled {
  border-bottom-color: #031826; }

.reveal .controls div.down,
.reveal .controls div.down.enabled {
  border-top-color: #031826; }

.reveal .controls div.left.enabled:hover {
  border-right-color: #AAC4E6; }

.reveal .controls div.right.enabled:hover {
  border-left-color: #AAC4E6; }

.reveal .controls div.up.enabled:hover {
  border-bottom-color: #AAC4E6; }

.reveal .controls div.down.enabled:hover {
  border-top-color: #AAC4E6; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #09456d;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }
