// Base theme template for reveal.js

/*********************************************
 * GLOBAL STYLES
 *********************************************/

body {
	
	background-color: $backgroundColor;
}

.reveal {
	font-family: $mainFont;
	font-size: $mainFontSize;
	font-weight: 200;
	letter-spacing: -0.02em;
	color: $mainColor;
}

::selection { 
	color: $selectionColor; 
	background: $selectionBackgroundColor; 
	text-shadow: none; 
}

/*********************************************
 * HEADERS
 *********************************************/

.reveal h1, 
.reveal h2, 
.reveal h3, 
.reveal h4, 
.reveal h5, 
.reveal h6 {
	margin: 0 0 20px 0;
	color: $headingColor;

	font-family: $headingFont;
	line-height: $headingLineHeight;
	letter-spacing: $headingLetterSpacing;
	
	text-transform: $headingTextTransform;
	text-shadow: $headingTextShadow;
}

.reveal h1 {
	text-shadow: $heading1TextShadow;
}


/*********************************************
 * LINKS
 *********************************************/

.reveal a:not(.image) {
	color: $linkColor;
	text-decoration: none;

	-webkit-transition: color .15s ease;
	   -moz-transition: color .15s ease;
	    -ms-transition: color .15s ease;
	     -o-transition: color .15s ease;
	        transition: color .15s ease;
}
	.reveal a:not(.image):hover {
		color: $linkColorHover;
		
		text-shadow: none;
		border: none;
	}

.reveal .roll span:after {
	color: #fff;
	background: $linkColor;
}


/*********************************************
 * IMAGES
 *********************************************/

.reveal section img {
	margin: 15px;
	background: rgba(255,255,255,0.12);
	border: 0px solid $mainColor;
	
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
	
	-webkit-transition: all .2s linear;
	   -moz-transition: all .2s linear;
	    -ms-transition: all .2s linear;
	     -o-transition: all .2s linear;
	        transition: all .2s linear;
}

	.reveal a:hover img {
		background: rgba(255,255,255,0.2);
		border-color: $linkColor;
		
		box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
	}


/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/

.reveal .controls div.left,
.reveal .controls div.left.enabled {
	border-right-color: $linkColor;
}

.reveal .controls div.right,
.reveal .controls div.right.enabled {
	border-left-color: $linkColor;
}

.reveal .controls div.up,
.reveal .controls div.up.enabled {
	border-bottom-color: $linkColor;
}

.reveal .controls div.down,
.reveal .controls div.down.enabled {
	border-top-color: $linkColor;
}

.reveal .controls div.left.enabled:hover {
	border-right-color: $linkColorHover;
}

.reveal .controls div.right.enabled:hover {
	border-left-color: $linkColorHover;
}

.reveal .controls div.up.enabled:hover {
	border-bottom-color: $linkColorHover;
}

.reveal .controls div.down.enabled:hover {
	border-top-color: $linkColorHover;
}


/*********************************************
 * PROGRESS BAR
 *********************************************/

.reveal .progress {
	background: rgba(0,0,0,0.2);
}
	.reveal .progress span {
		background: $linkColor;

		-webkit-transition: width 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
		   -moz-transition: width 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
		    -ms-transition: width 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
		     -o-transition: width 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
		        transition: width 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
	}


